footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    position: fixed;
    bottom: 0;
    left: 0;
}
.text-wrapper {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
